// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Meduim.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}


// Larken
@font-face {
    font-family: 'Larken';
    src: url('../fonts/Larken Serif Trial/LarkenDEMO-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Larken';
    src: url('../fonts/Larken Serif Trial/LarkenDEMO-Meduim.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Larken';
    src: url('../fonts/Larken Serif Trial/LarkenDEMO-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}